Repository openkcm/api-sdk, pull requests merged in 2025-09, with the labels that each got.

#34 feat: add ACTION enum for tenant management operations
  proto/kms/api/cmk/registry/tenant/v1/tenant.pb.go
  proto/kms/api/cmk/registry/tenant/v1/tenant.proto
Labels: feature, api

#44 feat: add registry auth service
  proto/kms/api/cmk/registry/auth/v1/auth.pb.go
  proto/kms/api/cmk/registry/auth/v1/auth.pb.validate.go
  proto/kms/api/cmk/registry/auth/v1/auth.proto
  proto/kms/api/cmk/registry/auth/v1/auth_grpc.pb.go
  proto/kms/api/cmk/registry/system/v1/system.pb.go
  proto/kms/api/cmk/registry/tenant/v1/tenant.pb.go
  proto/kms/api/cmk/registry/tenant/v1/tenant.pb.validate.go
  proto/kms/api/cmk/registry/tenant/v1/tenant.proto
  proto/kms/api/cmk/registry/tenant/v1/tenant_grpc.pb.go
  proto/kms/api/cmk/types/v1/region.pb.go
  proto/kms/api/cmk/types/v1/status.pb.go
Labels: feature, release, autorelease: tagged, api, buf skip breaking

#46 fix: add external id and list rpc in auth service
  proto/kms/api/cmk/registry/auth/v1/auth.pb.go
  proto/kms/api/cmk/registry/auth/v1/auth.pb.validate.go
  proto/kms/api/cmk/registry/auth/v1/auth.proto
  proto/kms/api/cmk/registry/auth/v1/auth_grpc.pb.go
Labels: buf skip breaking
